h1 {

  font-weight: normal;
  font-size: 24px;
  font-style: italic;
  font-family: 'William', serif;
  margin-bottom: 0;
  margin-right: 250px;
  text-shadow: 4px 4px 8px gray;
  display: inline-block;
}

#colored-text {
  background: linear-gradient(to right, #ff6b6b, #70db70);
  -webkit-background-clip: text;
  color: transparent;
}

#timer {
  font-size: 24px;
  margin: 10px;
  font-weight: 900;
  margin-right: 250px;
  font-style: italic;
  font-family: 'William', serif;
  background: linear-gradient(to right, #ff6b6b, #70db70);
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 4px 4px 8px gray;
}

.background-container {
  width: 720px;
  height: 1280px;
  background-image: url('picture/Елка.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}
