/* style.css */

h1 {
  font-weight: normal;
  font-size: 24px;
  font-style: italic;
  font-family: 'William', serif;
  margin-bottom: 0;
  margin-left: 100px; /* Отступ вправо */
  text-shadow: 4px 4px 8px gray; /* Более выраженная обводка текста */
  display: inline-block; /* Для применения градиента к тексту */
}

#colored-text {
  background: linear-gradient(to right, #ff6b6b, #70db70); /* Градиент из приятного красного и зеленого цветов */
  -webkit-background-clip: text; /* Применение градиента к тексту */
  color: transparent; /* Прозрачный текст, чтобы видеть градиент */
}

#timer {
  color: white;
  font-size: 24px;
  text-align: center;
  margin: 10px;
}

.background-container {
  margin: 0;
  padding: 0;
  width: 390px;
  height: 700px;
  background-image: url('picture/Елка.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 60px;
}

body{
  background-color: black;
  margin: 0;
  padding: 0;
}
