/* style.css */

h1 {
  font-weight: normal;
  font-size: 24px;
  font-style: italic;
  font-family: 'William', serif;
  margin-bottom: 0;
  margin-left: 100px; /* Отступ вправо */
  text-shadow: 4px 4px 8px gray; /* Более выраженная обводка текста */
  display: inline-block; /* Для применения градиента к тексту */
  margin-left: 20px;
  color: white;
}

body{
  background-color: black;
  margin: 0;
  padding: 0;
}

div{
  margin: 300;
  margin-left: 300px;
}
